:root {
    --bg-color: rgb(62, 90, 95);
    --accent-color: rgb(221, 231, 231);
    --font-color: rgb(30, 31, 32);
    --hover-color: rgb(124, 124, 124);
    --transp-bg: rgba(62, 90, 95, 0.7);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    width: 75%;
}

#header > h1 {
    color: var(--accent-color);
    font-size: 40px;
}

#form-container {
    justify-content: center;
    color: var(--accent-color);
    font-size: 22px;
    position: absolute;
    background-color: var(--transp-bg);
    height: 100vh;
    width: 100vw;
    top: 0;
    display: none;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: var(--bg-color);
    box-shadow: 10px 8px 5px var(--font-color);
    justify-self: center;
    align-self: center;
    padding: 30px 30px 50px;
    border-radius: 18px;
}

#form .input-field {
    display: flex;
}

#form .input-field > * {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.input-field > * > * {
    border-radius: 6px;
    margin: 0 20px;
    height: 22px;
    border: 0;
    color: var(--font-color);
}

.error {
    background-color: rgb(255, 162, 162);
    position: absolute;
    font-size: 15px;
    margin-top: 30px;
    padding: 5px 6px 0;
    display: none;
    box-shadow: 1px 2px 4px var(--font-color);
}

#btnSubmit {
    border-radius: 10px;
    width: 75%;
    align-self: center;
    border: 0;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--font-color);
    background-color: var(--accent-color);
}

#btn-close {
    align-self: flex-end;
}

#btn-close > i {
    padding-right: 20px;
    color: rgb(211, 90, 90);
}

#btn-close > i:hover {
    color: var(--hover-color);
}

#btnSubmit:hover {
    background-color: var(--hover-color);
}

#book-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

.book-card {
    border-radius: 10px;
    flex: 1 0 auto;
    max-width: 500px;
    min-width: 250px;
    padding: 20px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
}

.book-card > p:first-of-type {
    font-weight: bold;
    font-size: 20px;
}

.book-card > div {
    flex: 1 0 auto;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 28px;
}

.book-card > div >.fa-book-open:hover {
    color: var(--hover-color);
}

.book-card > div >.read {
    color: green;
}

.book-card > div >.fa-trash-can:hover {
    color: var(--hover-color);
}

.book-card:first-child {
    font-size: 101px;
    align-self: center;
    justify-self: center;
    padding: 102px 0;
    min-width: 250px;
    max-width: 500px;
}

.book-card:first-child > i:hover {
    color: var(--hover-color);
}